[user]
  name = [Name]
  email = [Email]
[alias]
  co = checkout
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = $HOME/.gitignore_global
[credential]
  helper = osxkeychain
[push]
  default = matching
[ghq]
  roor = $HOME/src
[commit]
  template = $HOME/.commit_template
  verbose = true
