[user]
  name = Hassan
  email = usgitan@gmail.com
[alias]
  co = checkout
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
[credential]
  helper = osxkeychain
[push]
  default = matching
[ghq]
  roor = ~/src
[commit]
  template = ~/.commit_template
  verbose = true
