[user]
  name = yuta17
  email = usgitan@gmail.com
[alias]
  co = checkout
  push-f = push --force-with-lease
	ac = !aicommits -a
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
[credential]
  helper = osxkeychain
[push]
  default = matching
[ghq]
  roor = ~/src
[commit]
  verbose = true
